<div class="container w-50 shadow rounded p-5 mt-5">
 <h6 class="mb-4 text-success text-center">Quiero alquilar esta prenda</h6>
  <div class="row">
    <div class="col-6 text-center border">
<h6 class="mb-4 text-success"></h6>
      <%= image_tag @clothe.photos.first, :size=>"100x150"%>
    </div>
    <div class="col-6">
      <%= simple_form_for [@clothe, @rent] do |f| %>
        <%= f.input :pickup_date, html5:true, label: "La quiero desde" %>
        <%= f.input :return_date, html5:true, label: "La devuelvo" %>
        <%= f.submit "Reservar", class: "btn btn-success" %> <%= link_to "Volver", clothes_path, class:"btn btn-warning" %>
      <% end %>
      <small class="text-danger"><%= @rent.errors.messages[:base][0] %></small>
    </div>
  </div>
</div>


<div class="container w-50 mt-3 fs-6 text-center">
<h4 class="mt-5 mb-3 p-3 border-bottom fs-4">Esta prenda tiene las siguientes reservas:</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Desde</th>
          <th scope="col">Hasta</th>
        </tr>
      </thead>
      <tbody>
        <% @clothe.rents.where("pickup_date >= ?", Date.today).each do |fecha| %>
          <tr>
            <td><%= fecha.pickup_date.strftime("%d/%m/%y") %></td>
            <td><%= fecha.return_date.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
