<h1>Nueva prenda</h1>

<%= @clothe.name %>
<%= @clothe.category %>
<%= @clothe.price %>
<%= @clothe.size %>
<%= @clothe.description %>

<%= link_to "Regresa al menu", clothes_path %>
<%# <%= #link_to "Rentar", aqui_va_rentar_path %>
